#landing-experience {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #555555;
}

#landing-experience .landing-section-title {
    padding: 20px;
    background-color:#e4d6c3;
    color: #5a1415;
}

#landing-experience .landing-section-title::after {
    background-color: tan;
}

#landing-exp-body {
    margin-bottom: 10%;
}

.landing-experience-block {
    width: 90%;
    margin: 20px auto;
    left: 50%;
    background-color: #f9f2e4;
    box-shadow: 0 50px 100px rgba(50,50,93,.15), 
	0 15px 35px rgba(50,50,93,.2), 
    0 5px 15px rgba(0,0,0,.12);
    overflow: hidden;
}

.exp-company-body {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.landing-experience-block .exp-company {
    text-align: center;
    margin: 10px auto;
}

.landing-experience-block .exp-logo {
    width: 30%;
    margin: auto 5%;
}

.landing-experience-block .exp-company-description {
    display: inline-block;
    width: 55%;
}

.landing-experience-block .exp-job-title {
    margin: 0px;
}

.landing-experience-block .exp-duration {
    font-size: 0.9rem;
    margin: 5px 0px;
}

#exp-hubdoc {
    background-color: #d4cac2;
    color: #111111;
}

#exp-hubdoc .exp-color {
    color: #17365f;
}

#exp-londonlife {
    background-color: #403d3d;
    color: #d3d5d7;
}

#exp-londonlife .exp-color {
    color: #f3f3f3;
}
