#footer {
	background-color: #f9ddb5;
	text-align: center;
	position: relative;
}

#social {
	display: inline-block;
	width: 60%;
	margin: auto;
}

#social img {
	width: 5%;
}

#social a {
	margin-left: 2%; margin-right: 2%;
}

#copyright {
	color: #5a5959;
}

#copyright h2 {
	font-family: 'Mappify Brush';
}

#copyright p {
	margin-bottom: 0;
	font-size: 12px;
}


#footer a {
	text-decoration: none;
}

.fb a, .fb:before, .fb { background: #3b5999; color: #3b5999; }
.lin a, .lin:before, .lin { background: #55acee; color: #55acee; }
.in a, .in:before, .in { background: #e4405f; color: #e4405f; }
.gh a, .gh:before, .gh { background: #333333; color: #333333; }

#footer ul#buttons {
	padding: 0;
	margin: 5% 0;
	width: 100;
	top: 50%;
	left: 50%;
}


#footer ul#buttons li {
	display: inline-block;
	margin: 0 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	box-sizing: border-box;
	background: transparent;
	border-radius: 12px;
	position: relative;
	overflow: hidden;
	transition: .5s;
	box-shadow: 6px 6px 4px -2px;
}

#footer ul#buttons li a {
	display: block;
	widows: 100%;
	height: 100%;
	font-size: 1.25em;
	background: transparent;
	transition: .5s;
	animation: icon-out .5s forwards;
	animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}

#footer ul#buttons li:before {
	content: "";
	width: 90px;
	height: 90px;
	display: block;
	position: absolute;
	transform: rotate(-45deg) translate(-110%, -23px);
	z-index: -2;
	animation: back-out .5s forwards;
	animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}

#footer ul#buttons li:hover a {
	animation: icon-in .5s forwards;
	animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

#footer ul#buttons li:hover:before { 
	animation: back-in .5s forwards;
	animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

@keyframes back-in {
    0% { transform: rotate(-45deg) translate(-110%, -23px); }
	80% { transform: rotate(-45deg) translate(5%, -23px); }
	100% { transform: rotate(-45deg) translate(0%, -23px); }
}

@keyframes back-out {
    0% { transform: rotate(-45deg) translate(0%, -23px); }
	20% { transform: rotate(-45deg) translate(5%, -23px); }
	100% { transform: rotate(-45deg) translate(-110%, -23px); }
}

@keyframes icon-in {
    0% { font-size: 1.25em; }
	100% { color: #fff; font-size: 1.5em; }
}

@keyframes icon-out {
	0% { color: #fff; font-size: 1.5em; }
	100% { font-size: 1.25em; }
}