#tiles {
	background-color: #210002;
	width: 100%;
}

.tile-wrapper {
	width: 25%;
	float: left;
    overflow: hidden;
}

.tile {
	width: 100%;
	filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .3s ease-in-out;
}

.tile:hover {
	transform: scale(1.1);
	filter: none;
    -webkit-filter: grayscale(0);
}