#gallery {
	background-color: #210002;
	display: inline-block;
	position: relative;
}

#tiles {
	position: relative;
	width: 80%;
	left: 50%;
	transform: translate(-50%, 0);
}

.tile-wrapper {
	width: 25%;
	float: left;
    overflow: hidden;
}

.tile {
	width: 100%;
	filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .3s ease-in-out;
}

.tile:hover {
	transform: scale(1.1);
	filter: none;
    -webkit-filter: grayscale(0);
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
.tile-wrapper {
	width: 50%;
}
}