#navbar {
    position: fixed;
    width: 100%;
    background-color: #F7BC6A;
    z-index: 1000;
    border-bottom: 1px solid #210002;
}

.nav-item {
    margin: 0px 10px;
    position: relative;
}

.nav-item p {
    vertical-align: middle;
    margin: 0;
}

.nav-item p::before, .nav-item p::after {
    position: absolute;
    display: block;
    content: '';
    background-color: #a23d1b;
    height: 2px;
    width: 0;
    transition: all 0.3s ease;
}

.nav-item p::before {
    left: 0;
    top: 0;
}

.nav-item p::after {
    right: 0;
    bottom: 0;
}

.nav-item p:hover::before, .nav-item p:hover::after {
    width: 100%;
}