/* PARALLAX */

.body {
  margin: -5px;
}

#name {
  width: 100%;
  position: fixed;
  text-align: center;
  top: 20vh;
}

#name h1{
  font-size: 6vw;
}

.titletext {
  color: #210002;
}

#links {
  color: #210002;
  position: fixed;
  top:40vh;
  width: 100%;
}

.brownbtn {
  color: #210002;
  border-color: #210002;
  display: block;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#links a {
  text-decoration: none;
}
.brownbtn:hover, .brownbtn:active, .brownbtn.active, .open {
  background-color: #210002;
}

/*.brownbtn:active {
  box-shadow: none;
}

.brownbtn:active:focus {
  background-color: #210002;
}*/

.keyart, .keyart_layer {
  height: 1000px;
}

#parallax {
  display: block;
}

#nonparallax {
  display: none;
}

#nonparallax {
  background-image: url('../resources/keyart-mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.keyart {
  position: relative;
  z-index: -10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.keyart_layer.parallax {
  position: fixed;
}
  #keyart-0 {
    background-image: url('../resources/parallax0.png');
    background-color: #ffaf1b;
  }
  #keyart-1 {
    background-image: url('../resources/parallax1.png');
  }
  #keyart-2 {
    background-image: url('../resources/parallax2.png');
  }
  #keyart-3 {
    background-image: url('../resources/parallax3.png');
  }
  #keyart-4 {
    background-image: url('../resources/parallax4.png');
  }
  #keyart-5 {
    background-image: url('../resources/parallax5.png');
  }
  #keyart-6 {
    background-image: url('../resources/parallax6.png');
  }
  #keyart-7 {
    background-image: url('../resources/parallax7.png');
  }
  #keyart-8 {
    background-image: url('../resources/parallax8.png');
  }
  #keyart-scrim {
    background-color: #ffaf00;
    opacity: 0;
  }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ 
  #nonparallax {
    display: block;
  }
  #parallax {
    display: none;
  }
  #name h1{
    font-size: 12vw;
  }
}