#projectpage {
  background-color: #c7a07a;
}

#projectpage .fp-tableCell {
  display: block;
  height: 100vh;
  padding-top: 0;
}

#projectpage .proj-body {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#projectpage .project {
  position: relative;
  height: 100vh;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}

#projectpage .project .proj-body {
  flex-grow: 2;
}

#projectpage .proj-img {
  display: block;
  left: 25%;
  top: 50%;
  width: 40%;
}

#projectpage .proj-description {
  width: 40%;
  top: 50%;
  left: 75%;
}

.proj-img img {
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 50px 100px rgba(50,50,93,.15), 
	0 15px 35px rgba(50,50,93,.2), 
	0 5px 15px rgba(0,0,0,.12);
}

.proj-title {
	text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 8vh;
}

.project .proj-link a {
  text-decoration: none;
  color: #210002;
}

.project .proj-link {
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.project .proj-link:hover {
  background-color: #A99DC4;
}

.project .proj-link:hover a {
  color: #F3F1FC;
  transition: .15s ease-in-out
}

.project .proj-tech {
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #A99DC4;
  padding: 6px 12px;
  margin: 0px 8px;
  font-size: 0.8rem;
  color: #210002;
}

.project .proj-tech:hover {
  cursor: default;
}

#projectpage .project .proj-footer {
  margin-bottom: 10px;
}