/* .proj_img {
	width: 100%;
	height: 80vh;
	background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .proj_title {
	text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 8vh;
}

.proj_description {
  height: 92vh;
}
 */
