@font-face {
  font-family: 'Mappify Brush';
  src: url('resources/fonts/brush.eot'); /* IE9 Compat Modes */
  src: url('resources/fonts/brush.woff') format('woff'), /* Modern Browsers */
       url('resources/fonts/brush.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('resources/fonts/brush.svg') format('svg'); /* Legacy iOS */
}

body {
  background-color: black;
}

.landing-section-title {
  color: cornsilk;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  position: relative;
  font-size: 3.5rem;
}

.landing-section-title::after {
  position: absolute;
  background-color: #FFA538;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 30%;
}

.fancy-font {
  font-family: 'Mappify Brush';
}

.background-cube {
  position: fixed;
  z-index: 10;
  width: 110vw;
  height: 110vw;
}

.background-cube.left {
  transform: rotate(15deg);
  transform-origin: top left;
  background: #5a5959;
  top: 120%;
}

.background-cube.right {
  transform: rotate(-15deg);
  transform-origin: top right;
  background: #210002;
  top: 250%;
}